
.ball:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
.ball:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
display:inline-block;
}
.ball:hover {
  color: red;
  background-color: yellow;
padding:20px 25px;
text-align:center;
  text-decoration: underline;
}
.ball:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}